<manifest>
    <!-- 访问网络  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写外部存储  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 进行网络定位  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问wifi网络信息,wifi信息可用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取wifi的获取权限,wifi信息可用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 唤醒CPU -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 控制振动器-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 使用摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 直接拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 直接发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 闪光灯-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 读取低级别的系统日志文件-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 调用系统下载功能-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" /> 
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="oicq.wlogin_sdk.permission.WloginProvider.READ" />
    <uses-permission android:name="oicq.wlogin_sdk.permission.WloginProvider.WRITE" />
</manifest>