

.icon-a:before {
	content: "\e900";
}
.icon-america-eng:before {
	content: "\e901";
}
.icon-arrow-down:before {
	content: "\e902";
}
.icon-arrow-left:before {
	content: "\e903";
}
.icon-arrow-right:before {
	content: "\e904";
}
.icon-artic:before {
	content: "\e905";
}
.icon-b:before {
	content: "\e906";
}
.icon-book-o:before {
	content: "\e907";
}
.icon-book-open-o:before {
	content: "\e908";
}
.icon-book-open:before {
	content: "\e909";
}
.icon-book:before {
	content: "\e90a";
}
.icon-british-eng:before {
	content: "\e90b";
}
.icon-building:before {
	content: "\e90c";
}
.icon-business:before {
	content: "\e90d";
}
.icon-c:before {
	content: "\e90e";
}
.icon-calendar-o:before {
	content: "\e90f";
}
.icon-calendar:before {
	content: "\e910";
}
.icon-camera-switch:before {
	content: "\e911";
}
.icon-check-b:before {
	content: "\e912";
}
.icon-check:before {
	content: "\e913";
}
.icon-children:before {
	content: "\e914";
}
.icon-close-b:before {
	content: "\e915";
}
.icon-close-c:before {
	content: "\e916";
}
.icon-close:before {
	content: "\e917";
}
.icon-coffee:before {
	content: "\e918";
}
.icon-comment:before {
	content: "\e919";
}
.icon-course:before {
	content: "\e91a";
}
.icon-dashboard:before {
	content: "\e91b";
}
.icon-edit:before {
	content: "\e91c";
}
.icon-ellipsis:before {
	content: "\e91d";
}
.icon-eraser:before {
	content: "\e91e";
}
.icon-expand:before {
	content: "\e91f";
}
.icon-facebook:before {
	content: "\e920";
}
.icon-finance:before {
	content: "\e921";
}
.icon-fire:before {
	content: "\e922";
}
.icon-food:before {
	content: "\e923";
}
.icon-forbit:before {
	content: "\e924";
}
.icon-funnel:before {
	content: "\e925";
}
.icon-game:before {
	content: "\e926";
}
.icon-glasses:before {
	content: "\e927";
}
.icon-good-at:before {
	content: "\e928";
}
.icon-graduation-cap:before {
	content: "\e929";
}
.icon-graduation:before {
	content: "\e92a";
}
.icon-heart:before {
	content: "\e92b";
}
.icon-home:before {
	content: "\e92c";
}
.icon-industry:before {
	content: "\e92d";
}
.icon-Interest:before {
	content: "\e92e";
}
.icon-job:before {
	content: "\e92f";
}
.icon-language:before {
	content: "\e930";
}
.icon-level:before {
	content: "\e931";
}
.icon-location-o:before {
	content: "\e932";
}
.icon-location:before {
	content: "\e933";
}
.icon-mailer:before {
	content: "\e934";
}
.icon-mark:before {
	content: "\e935";
}
.icon-menu:before {
	content: "\e936";
}
.icon-microphone-slash:before {
	content: "\e937";
}
.icon-miusic:before {
	content: "\e938";
}
.icon-money:before {
	content: "\e939";
}
.icon-msg:before {
	content: "\e93a";
}
.icon-natural:before {
	content: "\e93b";
}
.icon-new:before {
	content: "\e93c";
}
.icon-news:before {
	content: "\e93d";
}
.icon-notice-o:before {
	content: "\e93e";
}
.icon-official:before {
	content: "\e93f";
}
.icon-other:before {
	content: "\e940";
}
.icon-outline:before {
	content: "\e941";
}
.icon-pencil:before {
	content: "\e942";
}
.icon-phone-hang:before {
	content: "\e943";
}
.icon-phone:before {
	content: "\e944";
}
.icon-photo-o:before {
	content: "\e945";
}
.icon-photo:before {
	content: "\e946";
}
.icon-play:before {
	content: "\e947";
}
.icon-plus-c:before {
	content: "\e948";
}
.icon-plus-o:before {
	content: "\e949";
}
.icon-plus:before {
	content: "\e94a";
}
.icon-push-move:before {
	content: "\e94b";
}
.icon-qq:before {
	content: "\e94c";
}
.icon-question:before {
	content: "\e94d";
}
.icon-reply:before {
	content: "\e94e";
}
.icon-screen:before {
	content: "\e94f";
}
.icon-search:before {
	content: "\e950";
}
.icon-setup-o:before {
	content: "\e951";
}
.icon-sex-female:before {
	content: "\e952";
}
.icon-sex-male:before {
	content: "\e953";
}
.icon-sex-man:before {
	content: "\e954";
}
.icon-sex-woman:before {
	content: "\e955";
}
.icon-sex:before {
	content: "\e956";
}
.icon-share:before {
	content: "\e957";
}
.icon-shoping:before {
	content: "\e958";
}
.icon-sigh:before {
	content: "\e959";
}
.icon-smile:before {
	content: "\e95a";
}
.icon-sort-down:before {
	content: "\e95b";
}
.icon-sort-up:before {
	content: "\e95c";
}
.icon-sort:before {
	content: "\e95d";
}
.icon-sort2-down:before {
	content: "\e95e";
}
.icon-sort2-up:before {
	content: "\e95f";
}
.icon-star-o:before {
	content: "\e960";
}
.icon-star:before {
	content: "\e961";
}
.icon-tag:before {
	content: "\e962";
}
.icon-talk:before {
	content: "\e963";
}
.icon-th-large:before {
	content: "\e964";
}
.icon-thumbs-up-b:before {
	content: "\e965";
}
.icon-thumbs-up:before {
	content: "\e966";
}
.icon-time:before {
	content: "\e967";
}
.icon-times:before {
	content: "\e968";
}
.icon-toggle-up:before {
	content: "\e969";
}
.icon-topic-class:before {
	content: "\e96a";
}
.icon-topic-favorite:before {
	content: "\e96b";
}
.icon-topic-location:before {
	content: "\e96c";
}
.icon-topics:before {
	content: "\e96d";
}
.icon-travel:before {
	content: "\e96e";
}
.icon-twitter:before {
	content: "\e96f";
}
.icon-user-checked:before {
	content: "\e970";
}
.icon-user-info:before {
	content: "\e971";
}
.icon-user:before {
	content: "\e972";
}
.icon-video:before {
	content: "\e973";
}
.icon-vidicon-b:before {
	content: "\e974";
}
.icon-vidicon-o:before {
	content: "\e975";
}
.icon-vidicon:before {
	content: "\e976";
}
.icon-volume:before {
	content: "\e977";
}
.icon-warn:before {
	content: "\e978";
}
.icon-weibo:before {
	content: "\e979";
}
.icon-weixin:before {
	content: "\e97a";
}
.icon-word:before {
	content: "\e97b";
}

